<nav class="navbar navbar-fixed-top navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">QuickDoCoo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hi, @Context.User.Identity.Name!</a>
                <div class="dropdown-menu" style="">
                    <a class="dropdown-item" href="@Url.Action("ManageOrders","Employee")">Orders</a>
                    <a class="dropdown-item" href="@Url.Action("ViewFeedback","Employee")">Customer Feedback</a>
                    <a class="dropdown-item" href="@Url.Action("ManageComplaints","Employee")">Customer Complaints</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index","Home")">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("MyProfile","Account")">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Features","Home")">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Services","Home")">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("ContactUs","Home")">About</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-primary" href="@Url.Action("SignOut","Account")">Sign Out<span class="sr-only">(current)</span></a>
        </form>
    </div>
</nav>